<a href="#" data-toggle="popover" rel="popover"
        class="btn btn-bitcoin coin" 
        data-coin="Bitcoin" 
        data-address="{{ site.donations.bitcoin }}"
        data-icon="/images/icon_bitcoin.png">
</a>
<a href="#" rel="popover"
        class="btn btn-litecoin coin" 
        data-coin="Litecoin" 
        data-address="{{ site.donations.litecoin }}"
        data-icon="/images/icon_litecoin.png">
</a>
<a href="#" rel="popover"
        class="btn btn-dogecoin coin"
        data-coin="Dogecoin" 
        data-address="{{ site.donations.dogecoin }}"
        data-icon="/images/icon_dogecoin.png">
</a>