<!-- navigation panel -->
<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-main">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Mattias Cibien</a>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse-main">
      <ul class="nav navbar-nav navbar-right">
        {% assign sorted_pages = site.pages | sort:"order" %}
        {% for node in sorted_pages %}
        {% if node.group == "navigation" %}
        {% if node.title %}
        {% if page.url == node.url %}
          <li class="active" style="text-align: center;"><a href="{{ node.url }}" class="active"><i class="fa fa-{{node.icon}} hidden-xs hidden-sm"></i><br class="hidden-xs hidden-sm"/>{{node.title}} {% if node.sup %}<sup>{{node.sup}}</sup>{% endif %}</a></li>
        {% else %}
          <li style="text-align: center;"><a href="{{ node.url }}"><i class="fa fa-{{node.icon}} hidden-xs hidden-sm"></i><br class="hidden-xs hidden-sm"/>{{ node.title }} {% if node.sup %}<sup>{{node.sup}}</sup>{% endif %}</a></li>
        {% endif %}
        {% endif %}
        {% endif %}
        {% endfor %}
          <li class="hidden-xs hidden-sm hidden"><a href="/rss.xml" title="" data-placement="bottom" data-toggle="tooltip" data-original-title="Subscribe to the feed!"><i class="fa fa-rss" id="rssIcon"></i></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<!-- /navigation panel -->