<!-- Twitter -->
<a href="http://twitter.com/share?text={{page.title | cgi_escape}}&via=mattiascibien&related=mattiascibien&url={{page.url | prepend:site.url | cgi_escape }}" title="Share on Twitter" target="_blank" class="btn btn-twitter" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;"><i class="fa fa-twitter"></i> Twitter</a>
 <!-- Facebook -->
<a href="https://www.facebook.com/sharer/sharer.php?u={{page.url | prepend:site.url | cgi_escape }}" title="Share on Facebook" target="_blank" class="btn btn-facebook" onclick="window.open(this.href, 'facebook-share', 'width=550,height=235');return false;"><i class="fa fa-facebook"></i> Facebook</a>
<!-- Google+ -->
<a href="https://plus.google.com/share?url={{page.url | prepend:site.url | cgi_escape }}" title="Share on Google+" target="_blank" class="btn btn-googleplus"><i class="fa fa-google-plus" onclick="window.open(this.href, 'googleplus-share', 'width=550,height=235');return false;"></i> Google+</a>
<!-- StumbleUpon -->
<!--<a href="http://www.stumbleupon.com/submit?url={{url absolute="true"}}" title="Share on StumbleUpon" target="_blank" data-placement="top" class="btn btn-stumbleupon" onclick="window.open(this.href, 'stumbleupon-share', 'width=550,height=235');return false;"><i class="fa fa-stumbleupon"></i> Stumbleupon</a>-->
<!-- LinkedIn --> 
<a href="http://www.linkedin.com/shareArticle?mini=true&url={{page.url | prepend:site.url | cgi_escape}}&title={{page.title | cgi_escape}}" title="Share on LinkedIn" target="_blank" class="btn btn-linkedin" onclick="window.open(this.href, 'linkedin-share', 'width=550,height=235');return false;"><i class="fa fa-linkedin"></i> LinkedIn</a>
