---
layout: default
---
<header class="title-container">
    <div class="container">
        <h1>
            {% if page.icon %}<i class="fa fa-{{page.icon}}"></i> {% endif %}{{ page.title }}
            {% if page.date %}
            <br/>
            <small>
                on
                <time class="post-date" datetime="{{ page.date | date_to_string}}">{{  page.date | date_to_string }}</time>
            </small>
            {% endif %}
        </h1>
    </div>
</header>

<div class="container" id="main"> 
    {% include breadcumbs.html %}
    {{ content }}
</div>