---
layout: default
---
<header class="title-container">
    <div class="container">
        <h1>
            Posts tagged with '{{ page.title }}'
        </h1>
    </div>
</header>

<div class="container" id="main"> 
    <div class="row">
        <div class="col-md-8">
        {% for post in page.posts %}
        <article class="blog-post" class="row">
            <div class="col-md-12">
                <h2>
                   <a href="{{ post.url }}">
                        {{post.title }}
                    </a>
                </h2>
                <div>
                    <span class="badge"><i class="fa fa-calendar"></i> Posted on <strong>{{ post.date | date: '%B %d, %Y' }}</strong></span>
                    <div class="pull-right">
            			{% for tag in post.tags %}
                        	<a href="/blog/tag/{{tag | replace:' ','-'}}/" class="label label-primary"><i class="fa fa-tag"></i> {{ tag }}</a>
                        {% endfor %}
                    </div>
                </div>
                <section class="post-excerpt">
                    <p>{{ post.excerpt | markdownify  }}</p>
                </section>
                <div class="clearfix">
                    <div class="pull-right">
                        <a href="{{ post.url }}" class="btn btn-primary">Read More <i class="fa fa-chevron-right"></i></a>
                    </div>
                </div>
                <hr/>
            </div>
        </article>
        {% endfor %}
        </div>
        {% include blog_sidebar.html %}
    </div>
</div>